.input-area {
    margin-top: 120px;
}

/* Change color of navbar to dark green */
.navbar-default {
	background-image: none;
    /* background-color: #003300 !important; */
    background-color: #004f00 !important;
}

.construction-note {
    padding-top: 90px;
}